# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
 
# Visual Studio cache directory
.vs*
/assets/NoTrack*
/assets/NoTrackDir/*

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

 