 
  
  @keyframes float {
	to {
	  transform: translateY(0.75em);
	}
  }
  @property --v {
	syntax: "<integer>";
	initial-value: 0;
	inherits: false;
  }
  .Skillzz * {
	margin: 0;
	padding: 0;
	list-style: none;
	font: inherit;
  }
  
 .Skillzz body,  .Skillzz h3, .Skillzz ul {
	display: grid;
  }
  
  .Skillzz body {
	box-sizing: border-box;
	place-content: end start;
	overflow: hidden;
	padding: 3.5em;
	min-height: 100vh;
	background: #262626;
	font: 1.25em/1.5 ubuntu, rebuchet ms, sans-serif;
  }
  
  .Skillzz h3,   .Skillzz ul, .Skillzz li {
	grid-area: 1/1;
  }
  
  .Skillzz h3 {
	place-content: center;
	overflow: hidden;
	z-index: 1;
	width: 7em;
	height: 7em;
	border-radius: 50%;
	box-shadow: inset 0 0 0 0.75em rgba(50, 50, 50, 0.5);
	background: darkslategrey;
	color: gainsboro;
	text-transform: capitalize;
	animation: disc 1s cubic-bezier(0.35, 1.65, 0.65, 1) 1s both, text 1s ease-out 2s both;
  }
  
  @keyframes disc {
	0% {
	  transform: scale(0);
	}
	90% {
	  transform: scale(0.9);
	}
  }
  @keyframes text {
	0% {
	  color: transparent;
	  text-indent: -7em;
	}
  }
  .Skillzz  ul {
	--m: calc(.5*(var(--n) - 1));
	place-self: center;
	width: 0;
  }
  
  .Skillzz li {
	--o0: calc((30 + var(--v))*1%);
	--o1: calc(var(--o0) - .5em);
	padding-left: calc(3.5em + .5em);
	width: 25em;
	transform-origin: 0;
	transform: rotate(calc((var(--i) - var(--m))*20deg));
	text-transform: uppercase;
	clip-path: polygon(0 0, 0 100%, var(--o1) 100%, var(--o0) 50%, var(--o1) 0);
	counter-reset: v var(--v);
	animation: arrw 2s ease-in-out 3s both, text 1s ease-out 5s both, v calc(var(--v)*.02s) linear 6s both;
  }
  .Skillzz li::after {
	content: " " counter(v) "%";
  }
  
  @keyframes arrw {
	0% {
	  transform: rotate(-90deg) rotatey(90deg);
	}
	50% {
	  transform: rotate(-90deg);
	}
  }
  @keyframes v {
	0% {
	  --v: 0 ;
	}
  }