.TLPgrey_light-block {
  background-color: #f7f7f7;
}

.TLPtimeline {
  position: relative;
  background-image: linear-gradient(to bottom, #930054, #983279, #97519b, #926db8, #8b87d0, #7096df, #4ca4e9, #00b1ec, #00b6db, #00b7b2, #00b376, #2aab29);
  width: 50px;
  text-align: center;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .TLPtimeline {
    margin: 0 0 0 20px;
  }
}
@media screen and (min-width: 769px) {
  .TLPtimeline {
    margin: 0 auto;
  }
}
.TLPtimeline .TLPpoint .TLPyear {
  padding-top: 10px;
  color: #ffffff;
}
.TLPtimeline .TLPpoint .TLPbocata {
  position: relative;
  background-color: #ffffff;
  padding: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 425px) {
  .TLPtimeline .TLPpoint .TLPbocata {
    width: 180px;
  }
  .TLPtimeline .TLPpoint .TLPbocata.TLPlittle {
    width: 180px;
  }
}
@media screen and (min-width: 425px) and (max-width: 576px) {
  .TLPtimeline .TLPpoint .TLPbocata {
    width: 250px;
  }
  .TLPtimeline .TLPpoint .TLPbocata.little {
    width: 250px;
  }
}
@media screen and (min-width: 577px) {
  .TLPtimeline .TLPpoint .TLPbocata {
    width: 400px;
  }
  .TLPtimeline .TLPpoint .TLPbocata.little {
    width: 250px;
  }
}
.TLPtimeline .TLPpoint .TLPbocata + .TLPbocata {
  margin-top: 35px;
}
.TLPtimeline .TLPpoint:nth-child(odd) .TLPbocata {
  box-shadow: -6px 10px 20px -20px #4a4a4a;
  left: 100px;
  position: relative;
  z-index: 10;
}
.TLPtimeline .TLPpoint:nth-child(odd) .TLPbocata::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  z-index: 10;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  margin-top: -10px;
  top: 50%;
  border-right: 10px solid #ffffff;
  left: -10px;
}
.TLPtimeline .TLPpoint:nth-child(even) .TLPbocata {
  box-shadow: 6px 10px 20px -20px #4a4a4a;
}
@media screen and (max-width: 768px) {
  .TLPtimeline .TLPpoint:nth-child(even) .TLPbocata {
    left: 100px;
    position: relative;
    z-index: 10;
  }
  .TLPtimeline .TLPpoint:nth-child(even) .TLPbocata::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-right: 10px solid #ffffff;
    left: -10px;
  }
}
@media screen and (min-width: 769px) {
  .TLPtimeline .TLPpoint:nth-child(even) .TLPbocata {
    right: 425px;
    position: relative;
    z-index: 10;
  }
}
@media screen and (min-width: 769px) and (min-width: 769px) {
  .TLPtimeline .TLPpoint:nth-child(even) .TLPbocata.little {
    right: 275px;
  }
}
@media screen and (min-width: 769px) {
  .TLPtimeline .TLPpoint:nth-child(even) .TLPbocata::after {
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-top: -10px;
    top: 50%;
    border-left: 10px solid #ffffff;
    left: auto;
    right: -10px;
  }
}
.TLPtimeline .TLPpoint .TLParrow {
  border: solid #f7f7f7;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
}
.TLPtimeline .TLPpoint:first-child .TLParrow, .TLPtimeline .TLPpoint:last-child .TLParrow {
  border: solid #f7f7f7;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 20px;
  transform: rotate(45deg);
}
.TLPtimeline .TLPpoint .TLParrow-clean {
  border: solid #f7f7f7;
  border-width: 0 20px 20px 0;
  display: inline-block;
  padding: 20px;
  position: absolute;
  left: -5px;
  bottom: -13px;
  transform: rotate(45deg);
}

.TLPtitle {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1.28px;
}